<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="{{ site.baseurl }}/">Home</a> ( En / <a href="{{ site.baseurl }}/ja">Ja</a> )
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.lang == "en" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
              </li>
              {% if page.title == "Subcommands" and node.title == "Subcommands" %}
                <li class="sidebar-nav-item">
                  &nbsp;
                  <a href="#bootstrap">bootstrap</a>
                  <a href="#converge">converge</a>
                  <a href="#diagnose">diagnose</a>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
      <li class="sidebar-nav-item"> <a href="http://badge.fury.io/rb/knife-zero"><img src="https://camo.githubusercontent.com/a91d757592509fd2d4679420607a0ed953f2db49/68747470733a2f2f62616467652e667572792e696f2f72622f6b6e6966652d7a65726f2e737667" alt="Gem Version" data-canonical-src="https://badge.fury.io/rb/knife-zero.svg" style="max-width:100%;"></a></li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. <a href="https://github.com/higanworks">HiganWorks LLC.</a></p>
  </div>
</div>
